---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Infobox from '../components/Infobox.astro';
import Edit from '../components/edit/Edit.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import logo from '../assets/1.png';
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body
		class="bg-primary-DARK text-primary-LIGHT flex flex-col items-center justify-center min-h-screen"
	>
		<Header title={SITE_TITLE} />
		<main class="mx-auto max-w-3xl p-4 min-h-screen flex flex-col justify-center">
			<div class="flex justify-center">
				<img src={logo} alt="QGP Logo" class="w-64 rounded-full shadow-lg" />
			</div>
			<h2 class="text-2xl text-center font-bold mt-4 mb-2">Make fast apps -- fast!</h2>
			<Infobox warning={true}>
				This project is still in alpha at this point. While we're sure that we haven't covered every
				edge case, we do use it to power our product at <a href="https://fogbender.com"
					>fogbender.com</a
				>. So, it should be stable enough for you to try it out. If you find any bugs, please open
				an issue on <a href="https://github.com/JLarky/create-qgp/issues">GitHub</a>!
			</Infobox>
			<div class="bg-primary-NOTSODARK p-3 m-2 rounded-2xl bg-opacity-70">
				<h4 class="text-2xl m-2 font-bold text-center" id="create-qgp">Create QGP App</h4>
				<p class="p-3">
					You can use the CLI to download a pre-configured template with an example app. Just follow
					these easy steps:
				</p>
				<ol class="list-decimal list-inside m-1">
					<li class="p-1">Open a terminal in your folder of choice</li>
					<li class="p-1">
						Type <code>npm create qgp -t qgp-demo qgp-demo</code> to download the template. (You can
						replace the second <code>qgp-demo</code> with any folder name you want.)
					</li>
					<li class="p-1">
						Type <code>cd qgp-demo</code> (or your project name) to enter the new folder.
					</li>
					<li class="p-1">
						Type <code>npm i -g @antfu/ni</code> to install a helpful tool.
					</li>
					<li class="p-1">
						Type <code>ni</code> to set up the project.
					</li>
					<li class="p-1">
						Type <code>nr dev</code> to start the dev server.
					</li>
					<li class="p-1">
						Open <a href="http://localhost:3000">http://localhost:3000</a> to see the entire site on
						the Astro dev server.
					</li>
					<li class="p-1">
						Open <a href="http://localhost:5173">http://localhost:5173</a> to see the React app on the
						Vite dev server.
					</li>
				</ol>
				<p>
					You can just enter <code>npm create qgp@latest</code> if you want to explore the other templates,
					or create your own!
				</p>
			</div>
			<Edit file="src/pages/index.astro" />
			<Footer />
		</main>
	</body>
</html>
